.bg-shorten {
  background-color: var(--secondary);
  background-image: url("/public/images/bg-shorten-mobile.svg");
  background-repeat: no-repeat;
  background-position: right top;
}

.bg-boost {
  background-color: var(--secondary);
  background-image: url("/public/images/bg-boost-mobile.svg");
  background-repeat: no-repeat;
  background-position: right top;
}

@media (min-width: 768px) {
  .bg-shorten {
    background-image: url("/public/images/bg-shorten-desktop.svg");
  }

  .bg-boost {
    background-image: url("/public/images/bg-boost-desktop.svg");
  }
}
